<div class="page-header">
  <h2>Register for a TurtleSense Account</h2>
  <!-- <p>{{ tagline }}</p> -->
</div>


<!-- Registration Form -->
<div class="row">
  <div class="col-md-6 center-block vertical-center" id ="login-form">
    <form>
      <!-- Email -->
      <div class="form-group">
        <input type="text" class="form-control" id="registerEmail" placeholder="Email" />
      </div>

      <!-- Username -->
      <div class="form-group">
        <input type="text" class="form-control" id="registrationUsername" placeholder="Username"/>
      </div>

      <!-- Password -->
      <div class="form-group">
        <input type="password" class="form-control" id="registrationPassword" placeholder="Password" />
      </div>

      <button type="submit" class="btn btn-primary btn-block btn-lg">Create Account</button>
    </form>
  </div>
</div>
